@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #ec4899;   /* pink */
  --brand-2: #f472b6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #111;}{
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  min-height: 100vh;
  background-image: url("/HappyHome_SellSheet_Update.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


